ul.about_company {
  margin: 30px 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul.about_company .title {
  margin-top: 30px;
}
ul.about_company li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px 0;
}
ul.about_company li .text_blok {
  margin: 0 25px;
}
ul.about_company li div, ul.about_company li ul {
  flex: 1;
}
ul.about_company li ul.advantage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
ul.about_company li ul.advantage li {
  margin: 20px 0;
}
ul.about_company li ul.advantage li .text {
  margin-left: 25px;
}
ul.about_company li ul.advantage li img {
  width: 50px;
}
ul.about_company li .video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
ul.about_company li .video iframe, ul.about_company li .video .background_blok {
  width: 595px;
  height: 335px;
  border-radius: 10px;
}
ul.about_company li .video .background_blok {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(112, 112, 97, 0.95);
  transition: 0.5s;
}
ul.about_company li .video .background_blok .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
ul.about_company li .video .background_blok .play:hover {
  width: 70px;
  height: 70px;
  padding: 5px;
}
ul.about_company li .video .background_blok .play.opacity {
  opacity: 0;
}
ul.about_company li .video .background_blok.opacity {
  opacity: 0;
}
ul.about_company li .video button {
  margin-top: 30px;
}
ul.about_company li p {
  margin-top: 10px;
}
ul.about_company li img {
  width: 30vw;
}

@media (max-width: 1800px) {
  ul.about_company {
    margin: 30px 100px;
  }
}
@media (max-width: 1550px) {
  ul.about_company li .video iframe, ul.about_company li .video .background_blok {
    width: 495px;
    height: 275px;
  }
  ul.about_company li li {
    margin: 15px 0;
  }
  ul.about_company li li img {
    width: 35px;
  }
  ul.about_company li p {
    margin-top: 7px;
  }
}
@media (max-width: 1250px) {
  ul.about_company {
    margin: 30px;
  }
}
@media (max-width: 1100px) {
  ul.about_company .title {
    margin-top: 0px;
  }

  ul.about_company li {
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
  }
  ul.about_company li .video iframe, ul.about_company li .video .background_blok {
    width: 595px;
    height: 335px;
  }
  ul.about_company li img {
    margin-bottom: 30px;
  }
  ul.about_company li ul.advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }
  ul.about_company li ul.advantage li {
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    width: 80%;
  }
  ul.about_company li ul.advantage li .text {
    margin-left: 15px;
  }

  .about_company li.reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 700px) {
  ul.about_company li {
    margin: 30px 0;
  }
  ul.about_company li .video iframe, ul.about_company li .video .background_blok {
    width: 80vw;
    height: 215px;
  }
  ul.about_company li img {
    width: 80vw;
  }
  ul.about_company li ul.advantage li {
    width: 80%;
  }
}
@media (max-width: 500px) {
  ul.about_company {
    margin: 30px;
  }
  ul.about_company li .video iframe, ul.about_company li .video .background_blok {
    width: calc(100vw - 60px);
  }
  ul.about_company li img {
    width: calc(100vw - 60px);
  }
  ul.about_company li ul.advantage li {
    width: 100%;
  }
  ul.about_company li ul.advantage li img {
    width: 25px;
  }
}

/*# sourceMappingURL=about_company_blok.css.map */
