.about_company {
  padding: 30px 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1800px) {
  .about_company {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .about_company {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .about_company {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
.about_company .title {
  margin-top: 30px;
}
.about_company .about_company_item {
  margin: 50px 0;
}
.about_company .about_company_item > div {
  flex: 1;
}
.about_company .about_company_item .text_blok {
  margin: 0 25px;
}
.about_company .about_company_item .list_blok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.about_company .about_company_item .list_blok .list_item {
  position: relative;
  margin: 20px 0;
  padding-left: 75px;
}
.about_company .about_company_item .list_blok .list_item .text {
  width: 100%;
}
.about_company .about_company_item .list_blok .list_item svg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  fill: #105E44;
}
.about_company .about_company_item .video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
  width: 595px;
  height: 335px;
  border-radius: 10px;
}
.about_company .about_company_item .video .background_blok {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(112, 112, 97, 0.95);
  transition: 0.5s;
}
.about_company .about_company_item .video .background_blok .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
.about_company .about_company_item .video .background_blok .play:hover {
  width: 70px;
  height: 70px;
  padding: 5px;
}
.about_company .about_company_item .video .background_blok .play.opacity {
  opacity: 0;
}
.about_company .about_company_item .video .background_blok.opacity {
  opacity: 0;
}
.about_company .about_company_item .video button {
  margin-top: 30px;
}
.about_company .about_company_item p {
  margin-top: 10px;
}
.about_company .about_company_item img {
  width: 35vw;
}

@media (max-width: 1550px) {
  .about_company li .video iframe, .about_company li .video .background_blok {
    width: 495px;
    height: 275px;
  }
  .about_company li li {
    margin: 15px 0;
  }
  .about_company li p {
    margin-top: 7px;
  }
}
@media (max-width: 1100px) {
  .about_company .title {
    margin-top: 0;
  }

  .about_company .about_company_item {
    text-align: center;
    margin: 40px 0;
  }
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: 595px;
    height: 335px;
  }
  .about_company .about_company_item img {
    margin-bottom: 30px;
  }
  .about_company .about_company_item .list_blok {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 0px;
  }
  .about_company .about_company_item .list_blok .list_item {
    padding-left: 0px;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
  }

  .about_company .about_company_item.reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 700px) {
  .about_company .about_company_item {
    margin: 30px 0;
  }
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: 80vw;
    height: 215px;
  }
  .about_company .about_company_item img {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: calc(100vw - 60px);
    height: 150px;
  }
  .about_company .about_company_item .list_blok .list_item {
    margin: 5px 0;
  }
  .about_company .about_company_item img {
    width: calc(100vw - 60px);
  }
}

/*# sourceMappingURL=about_company_blok.css.map */
