@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Regular.woff");
}
@font-face {
  font-family: "open_sans";
  src: url("../fonts/OpenSans-Regular.woff");
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
body, body * {
  margin: 0;
  padding: 0;
  font-family: "open_sans", sans-serif;
}
body.hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.none {
  display: none;
}

input, button {
  outline: none;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  margin: 20px 0;
}
h2.page_title {
  text-align: center;
}

span.title {
  font-size: 32px;
  font-weight: 800;
  text-align: start;
  width: 100%;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
}

h1, h2, .title, .subtitle, a {
  font-family: "raleway", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
}

b {
  font-size: 16px;
  font-weight: 700;
}

button.orange_btn, button.white_btn {
  padding: 10px 50px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
button.orange_btn {
  background: #F26430;
  color: white;
}
button.orange_btn:hover {
  background: #eb4a10;
  border-radius: 10px;
  box-shadow: 0 0 2px 4px rgba(196, 188, 188, 0.719);
}
button.white_btn {
  background: white;
  color: black;
}
button.white_btn:hover {
  border-radius: 10px;
  box-shadow: 0 0 2px 4px rgba(196, 188, 188, 0.719);
}

.green_text {
  color: #105E44;
}

.list_blok {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.list_blok .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 1100px) {
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
  .flex-row.reverse {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 34px;
    font-weight: 700;
  }

  span.title {
    font-size: 25px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 700;
  }

  p, b {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 28px;
  }

  span.title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 14px;
  }
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: #009ddc;
  padding: 10px 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
header .logo {
  flex: 4;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .logo svg {
  margin-right: 10px;
  width: 70px;
  height: 35px;
}
header .logo h1 {
  font-size: 30px;
}
header nav.desctop_nav {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav.desctop_nav a {
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 17px;
  font-weight: 700;
  transition: 0.5s;
}
header nav.desctop_nav a:hover {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  nav.desctop_nav {
    display: none !important;
  }
}
@media (max-width: 700px) {
  header .logo {
    flex: 8;
  }
  header .logo h1 {
    font-size: 24px;
  }

  header .logo svg {
    margin-right: 5px;
    width: 50px;
    height: 25px;
  }
}
.become_partner {
  padding: 30px 250px;
  background: linear-gradient(94.35deg, #009DDC 17.13%, #008AC2 82.87%);
  color: white;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 1800px) {
  .become_partner {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .become_partner {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .become_partner {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
@media (max-width: 350px) {
  .become_partner {
    padding: 10px;
    width: calc(100vw - 20px);
  }
}
.become_partner p {
  margin: 30px 0;
}
.become_partner img {
  width: 30vw;
  margin-left: 25px;
}

@media (max-width: 1100px) {
  .become_partner .text_blok {
    margin-bottom: 20px;
  }
  .become_partner img {
    width: 45vw;
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .become_partner img {
    width: calc(100vw - 60px);
  }
}
.about_company {
  padding: 30px 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1800px) {
  .about_company {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .about_company {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .about_company {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
@media (max-width: 350px) {
  .about_company {
    padding: 10px;
    width: calc(100vw - 20px);
  }
}
.about_company .title {
  margin-top: 30px;
}
.about_company .about_company_item {
  margin: 50px 0;
}
.about_company .about_company_item > div {
  flex: 1;
}
.about_company .about_company_item .text_blok {
  margin: 0 25px;
}
.about_company .about_company_item .list_blok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.about_company .about_company_item .list_blok .list_item {
  position: relative;
  margin: 20px 0;
  padding-left: 75px;
  width: calc(100% - 75px);
}
.about_company .about_company_item .list_blok .list_item .text {
  width: 100%;
}
.about_company .about_company_item .list_blok .list_item svg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  fill: #105E44;
}
.about_company .about_company_item .video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
  width: 595px;
  height: 335px;
  border-radius: 10px;
}
.about_company .about_company_item .video .background_blok {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(112, 112, 97, 0.95);
  transition: 0.5s;
}
.about_company .about_company_item .video .background_blok .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
.about_company .about_company_item .video .background_blok .play:hover {
  width: 70px;
  height: 70px;
  padding: 5px;
}
.about_company .about_company_item .video .background_blok .play.opacity {
  opacity: 0;
}
.about_company .about_company_item .video .background_blok.opacity {
  opacity: 0;
}
.about_company .about_company_item .video button {
  margin-top: 30px;
}
.about_company .about_company_item p {
  margin-top: 10px;
}
.about_company .about_company_item img {
  width: 35vw;
}

@media (max-width: 1550px) {
  .about_company li .video iframe, .about_company li .video .background_blok {
    width: 495px;
    height: 275px;
  }
  .about_company li li {
    margin: 15px 0;
  }
  .about_company li p {
    margin-top: 7px;
  }
}
@media (max-width: 1100px) {
  .about_company .title {
    margin-top: 0;
  }

  .about_company .about_company_item {
    text-align: center;
    margin: 40px 0;
  }
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: 595px;
    height: 335px;
  }
  .about_company .about_company_item img {
    margin-bottom: 30px;
  }
  .about_company .about_company_item .list_blok {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 0px;
  }
  .about_company .about_company_item .list_blok .list_item {
    padding-left: 0px;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
  }

  .about_company .about_company_item.reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 700px) {
  .about_company .about_company_item {
    margin: 30px 0;
  }
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: 80vw;
    height: 215px;
  }
  .about_company .about_company_item img {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .about_company .about_company_item .video iframe, .about_company .about_company_item .video .background_blok {
    width: calc(100vw - 60px);
    height: 150px;
  }
  .about_company .about_company_item .list_blok .list_item {
    margin: 5px 0;
  }
  .about_company .about_company_item img {
    width: calc(100vw - 60px);
  }
}
.price_blok {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 250px;
  background: linear-gradient(94.35deg, #009DDC 17.13%, #008AC2 82.87%);
  color: white;
}
@media (max-width: 1800px) {
  .price_blok {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .price_blok {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .price_blok {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
@media (max-width: 350px) {
  .price_blok {
    padding: 10px;
    width: calc(100vw - 20px);
  }
}
.price_blok span.title {
  text-align: center;
  width: 100%;
}
.price_blok .first_blok, .price_blok .second_blok {
  margin: 50px 0;
}
.price_blok .first_blok div {
  flex: 1;
}
.price_blok .first_blok div li {
  list-style: disc;
  margin: 15px;
}
.price_blok .first_blok .commission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.price_blok .first_blok .commission img {
  width: 400px;
}
.price_blok .second_blok .increase_sales {
  position: relative;
  background: #0075A5;
  border-radius: 10px;
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  position: relative;
  padding: 10px 25px;
  padding-left: 240px;
  height: 150px;
  max-width: 750px;
}
.price_blok .second_blok .increase_sales img {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.price_blok .second_blok .increase_sales p {
  margin-top: 10px;
  line-height: 150%;
}
.price_blok .second_blok .increase_sales svg.arrow {
  position: absolute;
  z-index: 1;
  left: 100%;
  bottom: -70px;
  width: 200px;
  height: 185px;
}
.price_blok .second_blok .join {
  flex: 4;
  text-align: center;
}
.price_blok .second_blok .join button {
  position: relative;
  z-index: 2;
}

@media (max-width: 1100px) {
  .price_blok .first_blok .increase_sales, .price_blok .first_blok .commission, .price_blok .second_blok .increase_sales, .price_blok .second_blok .commission {
    margin: 35px 0;
  }
  .price_blok .first_blok .increase_sales, .price_blok .second_blok .increase_sales {
    height: max-content;
    max-width: none;
  }
  .price_blok .first_blok .increase_sales svg.arrow, .price_blok .second_blok .increase_sales svg.arrow {
    display: none;
  }
  .price_blok .first_blok .commission img, .price_blok .second_blok .commission img {
    width: 40vw;
  }
}
@media (max-width: 800px) {
  .price_blok .first_blok .commission img {
    width: 50vw;
  }
  .price_blok .second_blok .increase_sales {
    padding: 20px 10px;
    padding-left: 150px;
  }
  .price_blok .second_blok .increase_sales img {
    width: 150px;
    left: 0;
  }
  .price_blok .second_blok .increase_sales p {
    margin-top: 7px;
    line-height: 120%;
  }
}
@media (max-width: 450px) {
  .price_blok .second_blok .increase_sales {
    padding: 10px;
    padding-left: 80px;
  }
  .price_blok .second_blok .increase_sales img {
    width: 120px;
    left: -20px;
  }
  .price_blok .first_blok, .price_blok .second_blok {
    margin: 15px 0;
  }
}
.favorable_conditions {
  padding: 30px 250px;
}
@media (max-width: 1800px) {
  .favorable_conditions {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .favorable_conditions {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .favorable_conditions {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
@media (max-width: 350px) {
  .favorable_conditions {
    padding: 10px;
    width: calc(100vw - 20px);
  }
}
.favorable_conditions .content .list_blok .list_item {
  margin: 10px 0;
}
.favorable_conditions .content .list_blok .list_item .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.favorable_conditions .content .list_blok .list_item .text::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 7px;
  left: 0;
  width: 100%;
  border-top: 1px dashed black;
}
.favorable_conditions .content .list_blok .list_item p {
  margin-right: 50px;
}
.favorable_conditions .content .list_blok .list_item p, .favorable_conditions .content .list_blok .list_item b {
  padding: 5px;
  background: white;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.favorable_conditions .content .list_blok .list_item svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.favorable_conditions .content h3.subtitle {
  margin-bottom: 10px;
}
.favorable_conditions .content .gift_blok {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background: #009DDC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}
.favorable_conditions .content .gift_blok h3.subtitle {
  width: 100%;
  text-align: start;
}
.favorable_conditions .content .gift_blok .list_blok .list_item p, .favorable_conditions .content .gift_blok .list_blok .list_item b {
  background: #009DDC;
}
.favorable_conditions .content .gift_blok .list_blok .list_item .text::before {
  border-top: 1px dashed white;
}
.favorable_conditions .content .gift_blok img {
  position: absolute;
  right: 40px;
  top: 0;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
}
.favorable_conditions .content .gift_blok h3.subtitle {
  margin-bottom: 20px;
}
.favorable_conditions .content .gift_blok button {
  margin-top: 10px;
}

@media (max-width: 1100px) {
  .favorable_conditions .content .gift_blok {
    margin: 50px 0;
  }
}
@media (max-width: 800px) {
  .favorable_conditions .content h3.subtitle {
    margin-bottom: 20px;
  }
  .favorable_conditions .content .gift_blok img {
    width: 100px;
    height: 100px;
    right: 10px;
  }
  .favorable_conditions .content .list_blok .list_item::before {
    bottom: 10px;
  }
  .favorable_conditions .content .list_blok .list_item::after {
    left: -17px;
  }
  .favorable_conditions .content .list_blok .list_item p {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .favorable_conditions .content .gift_blok {
    padding: 20px 10px;
  }
  .favorable_conditions .content .gift_blok img {
    width: 80px;
    height: 80px;
    right: 20px;
  }
  .favorable_conditions .content .list_item .text p, .favorable_conditions .content .list_item .text b {
    font-size: 10px;
    padding: 5px 2px;
  }
}
@media (max-width: 400px) {
  .favorable_conditions .content .gift_blok img {
    width: 65px;
    height: 65px;
  }
}
.join_tour_cloud {
  padding: 30px 250px;
}
@media (max-width: 1800px) {
  .join_tour_cloud {
    padding: 30px 100px;
  }
}
@media (max-width: 1250px) {
  .join_tour_cloud {
    padding: 30px;
    width: calc(100vw - 60px);
  }
}
@media (max-width: 750px) {
  .join_tour_cloud {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}
@media (max-width: 350px) {
  .join_tour_cloud {
    padding: 10px;
    width: calc(100vw - 20px);
  }
}
.join_tour_cloud .title_blok {
  position: relative;
  padding-bottom: 30px;
  width: max-content;
}
.join_tour_cloud .title_blok svg.arrow {
  position: absolute;
  left: 100%;
  top: 30px;
  height: 80px;
  width: 290px;
}
.join_tour_cloud .content {
  align-items: flex-start;
}
.join_tour_cloud .content form, .join_tour_cloud .content section {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.join_tour_cloud .content form input {
  padding: 10px;
  width: 70%;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: 1px solid #DBD7D7;
}
.join_tour_cloud .content form input:focus {
  outline: 2px solid #009DDC;
}
.join_tour_cloud .content form .conditions_check {
  position: relative;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 11px;
  font-weight: 400;
}
.join_tour_cloud .content form .conditions_check input {
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  outline: none;
}
.join_tour_cloud .content form button {
  margin-top: 10px;
}
.join_tour_cloud .content form button.mobile {
  display: none;
}
.join_tour_cloud .content img {
  width: 30vw;
}

@media (max-width: 1100px) {
  .join_tour_cloud .title_blok {
    width: auto;
  }
  .join_tour_cloud .title_blok svg.arrow {
    display: none;
  }
  .join_tour_cloud .content form {
    align-items: center;
  }
  .join_tour_cloud .content form input {
    width: calc(100% - 20px);
  }
}
@media (max-width: 700px) {
  .join_tour_cloud .content img {
    width: 80vw;
  }
  .join_tour_cloud .content form .conditions_check {
    margin: 20px;
  }
  .join_tour_cloud .content form button.mobile {
    display: block;
  }
  .join_tour_cloud .content form button.desctop {
    display: none;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
  width: 100%;
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  font-weight: 400;
}
footer > section {
  padding: 15px 0;
}
footer .black_blok {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer .black_blok > div {
  padding: 0 20px;
}
footer .black_blok .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
footer .black_blok .info section:last-child {
  margin-left: 35px;
}
footer .black_blok .info .address.mobile {
  display: none;
}
footer .black_blok .social {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
footer .black_blok .social svg {
  width: 20px;
  height: 20px;
}
footer .black_blok .social .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .black_blok .social .images svg {
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
footer .black_blok .social .images .instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #faba4c, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  fill: white;
}
footer .black_blok .social .images .facebook {
  background: #3B5998;
  fill: white;
}
footer .black_blok .social .pay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  margin-top: 10px;
}
footer .black_blok .social .pay svg {
  background: #F7931A;
  padding: 1px;
  border-radius: 100%;
  margin-right: 5px;
}
footer .white_blok {
  background: white;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 11px;
}

@media (max-width: 1000px) {
  footer {
    font-size: 10px;
    font-weight: 400;
  }
  footer > section {
    padding: 7px 0;
  }
  footer .black_blok {
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  footer .black_blok > div {
    padding: 0 20px;
  }
  footer .black_blok, footer .black_blok .info {
    flex-direction: column;
    align-items: start;
  }
  footer .black_blok .info {
    width: calc(100% - 40px);
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  footer .black_blok .info section:last-child {
    margin-left: 0;
    margin-top: 15px;
  }
  footer .black_blok .info section:last-child .email {
    margin-bottom: 15px;
  }
  footer .black_blok .info .address.mobile {
    display: block;
  }
  footer .black_blok .info .address.desctop {
    display: none;
  }
  footer .black_blok .social .images {
    position: absolute;
    flex-direction: column;
    right: 20px;
    top: 20px;
  }
  footer .black_blok .social .images svg {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
  }
  footer .black_blok .social .images svg.instagram {
    margin-top: 15px;
  }
  footer .black_blok .social .pay {
    margin: 10px 0;
  }
}
.about_text_blok {
  text-align: start;
  margin: 0 100px;
}
.about_text_blok p {
  line-height: 250%;
  margin: 25px 0;
}

@media (max-width: 800px) {
  .about_text_blok {
    margin: 0 20px;
  }
}
.contacts_form_blok {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px 0;
}
.contacts_form_blok h2 {
  text-align: center;
}
.contacts_form_blok form {
  text-align: start;
  margin: 45px 0;
  width: 270px;
}
.contacts_form_blok form .input_blok {
  position: relative;
  padding: 40px 0;
}
.contacts_form_blok form .input_blok input {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  width: 248px;
  color: white;
  transition: 0.5s;
}
.contacts_form_blok form .input_blok input:focus, .contacts_form_blok form .input_blok input:valid {
  color: black;
}
.contacts_form_blok form .input_blok span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 8px;
  transition: 0.5s;
  pointer-events: none;
  font-size: 16px;
  width: 200px;
}
.contacts_form_blok form .input_blok input:focus ~ span, .contacts_form_blok form .input_blok input:valid ~ span {
  transform: translateX(-10px) translateY(-32px);
  font-size: 12px;
}
.contacts_form_blok form .input_blok .show_password {
  position: absolute;
  right: 0;
  top: 1px;
  padding: 6px;
  cursor: pointer;
}
.contacts_form_blok form .input_blok .show_password svg {
  width: 25px;
  height: 22px;
}
.contacts_form_blok form .input_blok .password_error {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: red;
}
.contacts_form_blok form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1d6175;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.mobile_nav_btn, .mobile_nav {
  display: none;
}

@media (max-width: 1024px) {
  .mobile_nav_btn_blok {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
  }
  .mobile_nav_btn_blok .mobile_nav_btn {
    display: block;
    color: white;
    padding: 0 10px;
    font-size: 26px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    opacity: 1;
    transition: 0.3s;
  }
  .mobile_nav_btn_blok .mobile_nav_btn.active {
    opacity: 0;
  }

  .mobile_nav {
    position: absolute;
    z-index: 4;
    top: 100%;
    left: -100%;
    height: 100vh;
    background: white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }
  .mobile_nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 25px 40px;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px solid #DBD7D7;
    width: calc(100% - 80px);
  }
  .mobile_nav a.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    text-transform: none;
    padding: 20px 40px;
  }
  .mobile_nav a.login svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .mobile_nav a.pay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-transform: none;
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    bottom: 56px;
    border-bottom: none;
    border-top: 1px solid #DBD7D7;
    padding: 10px 25px;
    width: calc(100% - 50px);
  }
  .mobile_nav a.pay svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    padding: 1px;
    border-radius: 100%;
    background: #F7931A;
  }
  .mobile_nav a.pay span {
    white-space: nowrap;
  }

  .mobile_nav.active {
    opacity: 1;
    left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
