@font-face {
    font-family: raleway;
    src: local('Raleway-Regular'),
         url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: open_sans;
    src: local('OpenSans-Regular'),
         url('../fonts/OpenSans-Regular.ttf');
}