@import './mixin.scss';

.favorable_conditions{
    @include article_blok();
    .content{
        .list_blok{
            .list_item{
                margin: 10px 0;
                .text{
                    @include flex(space-between, center);
                    width: 100%;
                    position: relative;
                }
                .text::before{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: 7px;
                    left: 0;
                    width: 100%;
                    border-top: 1px dashed black;
                }
                p{
                    margin-right: 50px;
                }
                p, b{
                    padding: 5px;
                    background: white;
                    position: relative;
                    white-space: nowrap;
                    z-index: 2;
                }
                svg{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
        }
        h3.subtitle{
            margin-bottom: 10px;
        }
        .gift_blok{
            position: relative;
            padding: 40px;
            border-radius: 10px;
            background: #009DDC;
            color: white;
            @include flex(center, center, column);
            margin-left: 20px;
            h3.subtitle{
                width: 100%;
                text-align: start;
            }
            .list_blok{
                .list_item{
                    p, b{
                        background: #009DDC;
                    }
                    .text::before{
                        border-top: 1px dashed rgb(255, 255, 255);
                    }
                }
            }
            img{
                position: absolute;
                right: 40px;
                top: 0;
                transform: translateY(-50%);
                width: 150px;
                height: 150px;
            }
            h3.subtitle{
                margin-bottom: 20px;
            }
            button{
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .favorable_conditions .content .gift_blok{
        margin: 50px 0;
    }
}

@media (max-width: 800px) {
    .favorable_conditions .content{
        h3.subtitle{
            margin-bottom: 20px;
        }
        .gift_blok{
            img{
                width: 100px;
                height: 100px;
                right: 10px;
            }
        }
        .list_blok .list_item::before{
            bottom: 10px;
        }
        .list_blok .list_item::after{
            left: -17px;
        }
        .list_blok .list_item p{
            margin-right: 10px;
        }
    }
}

@media (max-width: 500px) {
    .favorable_conditions .content {
        .gift_blok{
            padding: 20px 10px;
            img{
                width: 80px;
                height: 80px;
                right: 20px;
            }
        }
        .list_item .text{
            p, b{
                font-size: 10px;
                padding: 5px 2px;
            }
        }
    }
}

@media (max-width: 400px) {
    .favorable_conditions .content{
        .gift_blok {
            img{
                width: 65px;
                height: 65px;
            }
        }
    }
}