@import './mixin.scss';

.join_tour_cloud{
    @include article_blok();
    .content{
        form, section{
            flex: 1;
            @include flex(center, flex-start, column);
        }
        form{
            input{
                padding: 10px;
                width: 70%;
                margin: 10px 0;
                font-size: 14px;
                font-weight: 400;
            }
            .conditions_check{
                position: relative;
                margin: 20px 0;
                font-size: 11px;
                font-weight: 400;
                input{
                    position: absolute;
                    left: -30px;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    margin: 0;
                }
            }
            button{
                margin-top: 10px;
            }
        }
        img{
            width: 30vw;
        }
    }
}

@media (max-width: 1100px) {
    .join_tour_cloud{
        .content form input {
            width: calc(100% - 20px);
        }
    }
}

@media (max-width: 700px) {
    .join_tour_cloud .content{
            img{
                width: 80vw;
            }
            form .conditions_check {
                margin: 20px;
            }

        }
}