@import './mixin.scss';

@font-face {
    font-family: roboto_light;
    src: local('Roboto-Light'),
         url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto_bold;
    src: local('Roboto-Bold'),
         url('../fonts/Roboto-Bold.ttf');
}
body, *{
    margin: 0;
    padding: 0;
    font-family: roboto_light;
}
body{
    min-height: 100vh;
    @include flex(space-between, center, column);
}
body.hidden{
    overflow: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.none{
    display: none;
}
input, button{
    outline: none;
}
h2{
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0;
}
h2.page_title{
    text-align: center;
}
span.title{
    font-size: 32px;
    font-weight: 800;
}
.subtitle{
    font-size: 24px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 400;
}
b{
    font-size: 16px;
    font-weight: 700;
}
button.orange_btn{
    background: #F26430;
    color: white;
    padding: 10px 50px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
button.orange_btn:hover{
    background: #eb4a10;
    border-radius: 10px;
    box-shadow: 0 0 2px 4px rgba(196, 188, 188, 0.719);
}

.list_blok{
    @include flex(flex-start, center, column);
    width: 100%;
    .list_item{
        @include flex(space-between, center);
        width: 100%;
    }
}

.flex-row{
    @include flex(space-between, center)
}

@media (max-width:1100px) {
    .flex-row{
        @include flex(start, center, column)
    }
    .flex-row.reverse{
        @include flex(start, center, column-reverse)
    }
}

@media (max-width: 700px) {
    h2{
        font-size: 34px;
        font-weight: 700;
    }
    span.title{
        font-size: 25px;
        font-weight: 700;
    }
    .subtitle{
        font-size: 20px;
        font-weight: 700;
    }
    p, b{
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    h2{
        font-size: 28px;
    }
    span.title{
        font-size: 22px;
    }
    .subtitle{
        font-size: 14px;
    }
}
