@import './mixin.scss';

.price_blok{
    @include flex(center, center, column);
    @include article_blok();
    background: linear-gradient(94.35deg, #009DDC 17.13%, #008AC2 82.87%);
    color: white;
    span.title{
        text-align: center;
        width: 100%;
    }
    .first_blok, .second_blok{
        margin: 50px 0;
    }
    .first_blok{
        div{
            flex: 1;
            li{
                list-style: disc;
                margin: 15px ;
            }
        }
        .commission{
            @include flex(center, center, column);
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            img{
                width: 400px;
            }
        }
    }
    .second_blok{
        .increase_sales{
            position: relative;
            background: #0075A5;
            border-radius: 10px;
            flex: 6;
            @include flex(start, center);
            position: relative;
            padding: 10px 25px;
            padding-left: 240px;
            height: 150px;
            max-width: 750px;
            img{
                position: absolute;
                width: 200px;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }
            p{
                margin-top: 10px;
                line-height: 150%;
            }
            svg.arrow{
                position: absolute;
                z-index: 1;
                left: 100%;
                bottom: -70px;
                width: 200px;
                height: 185px;
            }
        }
        .join{
            flex: 4;
            text-align: center;
            button{
                position: relative;
                z-index: 2;
            }
        }
    }
}

@media (max-width: 1100px) {
    .price_blok{
        .first_blok, .second_blok{
            .increase_sales, .commission{
                margin: 35px 0;
            }
            .increase_sales{
                height: max-content;
                max-width: none;
                svg.arrow{
                    display: none;
                }
            }
            .commission img{
                width: 40vw;
            }
        }
    }
}

@media (max-width: 800px) {
    .price_blok{
        .first_blok{
            .commission img{
                width: 50vw;
            }
        }
        .second_blok{
            .increase_sales{
                padding: 20px 10px;
                padding-left: 150px;
                img{
                    width: 150px;
                    left: 0;
                }
                p{
                    margin-top: 7px;
                    line-height: 120%;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .price_blok{
        .second_blok .increase_sales{
            padding: 10px;
            padding-left: 80px;
            img{
                width: 120px;
                left: -20px;
            }
        }
        .first_blok, .second_blok{
            margin: 15px 0;
        }
    }
}